@import url(https://fonts.googleapis.com/css?family=Muli|Raleway|Lobster|Press+Start+2P);




body {
    background: #222;
    padding: 1em;
		color: #fff;
}


h1{
  font-family: serif;
  font-size: 4em;
  text-align: center;
}


.lightBg{
  background: #777;
}



.metalic{
    font-family: Muli;
    position: relative;
    margin-top: 0;
    color: #fff;
		background: linear-gradient(0deg, #000 0%, #fff 50%, #000 100%);
		-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}





.blur {
  transition: text-shadow 2s;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.6),
              0px 0px 30px rgba(255,255,255,0.4),
              0px 0px 50px rgba(255,255,255,0.3),
              0px 0px 180px rgba(255,255,255,0.3);
	color: rgba(255,255,255,0);
}
.blur:hover {
	text-shadow: 0 0 1px rgba(255,255,255,1);
}



.glowIntro{
  font-family: lobster;
  animation-name: glowAnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes glowAnim {
    from {
      text-shadow:  0px 0px 10px rgba(255,255,255,0),
                    0px 0px 30px rgba(255,255,255,0.3),
                    0px 0px 50px rgba(255,255,255,0.6),
                    0px 0px 180px rgba(255,255,255,0.9);
    	color: #fff;
    }
    to {
      	text-shadow: 0 0 5px rgba(0,5px,5px,1);
    }
}


.threeDimension{
font-family: lobster;
font-size: 50px;
text-shadow: 0px 0px 0 rgb(221,221,221),
            1px 1px 0 rgb(206,206,206),
            2px 2px 0 rgb(192,192,192),
            3px 3px 0 rgb(177,177,177),
            4px 4px 0 rgb(163,163,163),
            5px 5px 0 rgb(148,148,148),
            6px 6px 0 rgb(134,134,134),
            7px 7px 6px rgba(0,0,0,0.8),
            7px 7px 1px rgba(0,0,0,0.4),
            0px 0px 6px rgba(0,0,0,.2);
}



.fire{
  font-family: 'Press Start 2P';
	color:#fff;
	text-shadow:	#fff 0 0 4px,
								yellow 0 -5px 10px,
								orange 0 -15px 20px,
								red 0 -25px 50px;
}


.pop{
	text-shadow: 0px 3px 0px #2c2e38,
                 0px 14px 10px rgba(0,0,0,0.2),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}


.retro{
  font-family: Raleway;
	color: #d7ceb2;
	text-shadow: 3px 3px 0px #2c2e38,
                5px 5px 0px #5c5f72;
	letter-spacing: .2em;
}


.extruded{
	color: #888;
  position: relative;
  color: #FFF;
  text-shadow: blue 1px 1px,
                blue 2px 2px,
                blue 3px 3px,
                blue 4px 4px,
                blue 5px 5px,
                blue 6px 6px;
  left: -6px;
  top: -6px;
  transition: text-shadow 1s, color 1s;
}
.extruded:hover{
  text-shadow: #fff 1px 1px;
  color: #aaa;
}
.extruded{
  font-family: lobster;
}
